* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(fundo.jpg);
    background-size: cover;
}

ul {
    list-style: none;
}

img {
    width: 40px;
    cursor: pointer;
}

input[type='checkbox'] {
    display: none;
}

nav {
    width: 350px;
    height: 100vh;
    background-color: rgb(16, 16, 16, .5);
    left: -350px;
    position: absolute;
    transition: all .5s;
    backdrop-filter: blur(30px);
}

input[type='checkbox']:checked~nav {
    transform: translateX(350px);
}

ul {
    background-color: rgb(16, 16, 16, .5);
    top: 73px;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

ul a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 5px;
    color: rgb(255, 255, 255);
}

ul a:hover {
    background-color: rgba(176, 224, 230);
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff30;
    background: #ffffff10;
    border-radius: 10px;
}

label {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

nav address {
    color: azure;
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

address a {
    color: rgb(255, 255, 255);
}